@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;700&display=swap');

* {
    font-family: 'Epilogue', sans-serif;
    /* background-color: #DADBDD; */
    background: #7D7D7D;
    /* color: white; */
    line-height: 1.5;
    margin: 0;
    text-decoration: none;
}

.intro {
    min-height: 100vh;
    color: white;
}

.intro-content {
    /* margin-top: 10%; */
    padding: 10% 20% 0% 20%;
    font-size: xx-large;
    font-weight: 200;
}

.intro-content p {
    font-weight: 400;
    padding-bottom: 30px;
}

.intro-content a, .full-stack {
    font-size: inherit;
    color: #F2CA53;
}

.getintouch {
    display: inline-block;
    position: relative;
    margin-bottom: 0.2em;
  }

.getintouch a, .resume a {
    color: white;
}
  
.getintouch::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    border-bottom: 2px solid #F2CA53;
}
  
.resume {
    display: inline-block;
    position: relative;
    margin-bottom: 0.2em;
}
  
.resume::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    border-bottom: 2px solid #F2CA53;
}

.getintouch:hover::after {
    width: 100%;
}

.getintouch, .resume {
    display: inline-flex;
}

/* .intro-content a:hover {
    margin-bottom: ;
} */

body {
    color: white;
}

h1 {
    font-weight: lighter;
    margin-bottom: 2em;
}

h3 {
    font-size: x-large;
    /* letter-spacing: 2px; */
}

strong {
    color: #F2CA53;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 100px 0;
    grid-auto-rows: auto;
}

.LHS-grid {
    text-align: end;
    color: #F2CA53;
    letter-spacing: 4px;
    /* background-color: red; */
    /* font-size: x-large; */
}

/* .RHS-grid {
    width: 75%;
} */

.exp-company,
.exp-time {
    display: flex;
    justify-content: space-between;
    font-size: large;
}

.exp-role {
    padding-bottom: 20px;
    font-size: large;
}

.exp-container {
    /* background-color: aqua; */
    margin-left: 10%;
    margin-right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: x-large;
}

.skills-container {
    /* background-color: plum; */
    margin-left: 10%;
    margin-right: 25%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: larger;
    max-width: 100%;
    flex-wrap: wrap;
}

.skills-languages,
.skills-frameworks,
.skills-tools {
    letter-spacing: 4px;
}

.LHS-grid h3 {
    font-size: large;
}

.RHS-grid h3 {
    font-size: large;
}

ul {
    padding: 0;
    list-style-type: none;
}

.list {
    /* font-size: larger; */
    letter-spacing: 0;
}

.hopefully {
    color: blue;
    display: none;
}

.findme-container {
    display: flex;
    margin-left: 10%;
    margin-right: 30%;
    justify-content: space-between;
    font-size: x-large;
    font-weight: bolder;
    text-decoration: none;
    color: inherit;
    letter-spacing: 4px;
    flex-wrap: wrap;
}

a {
    color: inherit;
}

.findme-title {
    text-align: end;
}

.email,
.linkedin,
.github,
a {
    font-size: large;
}

.copyright {
    font-size: small;
    text-align: center;
    padding: 100px;
    padding-bottom: 10px;
}

.github-logo {
    width: 0px;
}

.github-logo a {
    font-size: x-small;
    /* color:  */
}

.copyright,
.github-logo {
    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    gap: 50px;
}

@media screen and (max-width: 800px) {
    /* body {
        display: none;
    } */

    .intro {
        height: 100vh;
    }

    .intro-content {
        font-size: x-large;
    }

    .grid-container {
        /* grid-template-columns: 2fr; */
        /* margin-left: 10%;*/
        margin: auto auto;
        /* gap: 100px; */
        row-gap: 100px;
    }

    .exp-container {
        margin: 0 7%;
    }

    .skills-container {
        margin: 0 7%;
        gap: 0;
        justify-content: space-between;
        padding-bottom: 100px;
    }

    .findme-title h3 {
        margin-left: 15%;
    }

    .findme-container {
        margin: 0 15% 0 7%;
        gap: 0;
        justify-content: space-between;
    }

}

@media screen and (max-width: 450px) {
    /* body {
        display: none;
    } */

    .intro {
        height: 100vh;
    }

    .intro-content {
        font-size: 1.2rem;
        padding: 20% 15% 0%;
    }

    .getintouch, .resume {
        display: inline-flex;
        overflow-x: visible;
    }

    .grid-container {
        grid-template-columns: 2fr;
        row-gap: 40px;
    }

    .exp-title {
        text-align: center;
    }

    /* .exp-company h3 ,.exp-role, .exp-time {
        font-size: medium;
    } */

    .exp-company, .exp-time, .exp-role {
        display: block;
        align-self: center;
    }

    .exp-container {
        align-self: center;
        padding-bottom: 50px;
    }

    .skills-title {
        text-align: center;
    }

    .skills-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-self: center;
        row-gap: 30px;
        padding-bottom: 50px;
    }

    .RHS-grid {
        display: block;
        text-align: center;
    }

    .skills-tools {
        grid-column: 1 / span 2;
    }

    .findme-title h3 {
        text-align: center;
        margin: 0;
    }

    .findme-container {
        margin: 0;
        justify-content: space-evenly;
    }

    .copyright {
        font-size: xx-small;
        padding: 50px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 375px) {

    .intro {
        height: 100vh;
    }

    .intro-content {
        font-size: medium;
    }
    
}